.AddItem-container :is(.minus-button, .plus-button){
height: 30px;
aspect-ratio: 1;
border-radius: 50%;
font-size: 25px;
margin-inline: 5px ;
}

.AddItem-container .counter{
    background-color: white;
    color: black;
    height: 30px;
    aspect-ratio: 1;
    border-radius: 7%;
    font-size: 25px;
    
}

.item-name-box{
    width: 200px;
}